.App {
  height: auto;
  width: 100%;
  text-align: left;
  background-color: white;
  font-size: 62.5%;
}

.directory {
  border-bottom: 1px solid lightgray;
}

.directory h1 {
  margin-top: 0;
  text-align: center;
  color: #383b69;
  font-size: 6rem;
  font-family: fieldwork, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.directory .both-floors {
  padding-left: 2rem;
  margin-top: -80px;
}

.directory h3 {
  color: #484a48;
  text-decoration: underline;
  font-family: fieldwork, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 4.1rem;
  margin-bottom: -0.5rem;
}

.directory h4 {
  color: #383b69;
  padding-left: 4rem;
  font-family: fieldwork, sans-serif;
  font-weight: 700;
  margin: 1rem;
  font-style: normal;
  font-size: 3rem;
}

.bottom-div {
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 9rem;
}

.bottom-div .time-date {
  color: #383b69;
  margin-top: -12rem;
}

.bottom-div .time-date .clock {
  font-family: fieldwork, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6rem;
}

.bottom-div .time-date .date {
  font-family: fieldwork-hum, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  margin-top: -2rem;
  font-size: 2.5rem;
}

.bottom-div .time-date .date .month {
  margin-right: 3%;
}

.bottom-div .time-date .date .day-of-month {
  margin-right: 3%;
}

.bottom-div .weather {
  color: #383b69;
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  margin-top: -6rem;
}

.bottom-div .weather .weatherdiv .weathericon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -6rem;
}

.bottom-div .weather .weatherdiv .weathertext {
  margin-top: -90px;
}

.bottom-div .weather .temp {
  font-family: fieldwork, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4em;
  padding-left: 20px;
}

.bottom-div .weather .temp span {
  font-family: fieldwork-hum, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.bottom-div .weather .cityname {
  font-family: fieldwork-hum, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  margin-top: -2.5rem;
}

.footer {
  max-width: 100%;
}
