.App {
  max-height: 100vh;
  width: 100%;
  text-align: left;
  background-color: white;
}

.directory {
  border-bottom: 1px solid lightgray;
}

.directory h1 {
  margin-top: 0;
  text-align: center;
  color: #383b69;
  font-size: 3.7em;
  font-family: fieldwork, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.directory .both-floors {
  padding-left: 2em;
}

.directory h3 {
  color: #484a48;
  text-decoration: underline;
  font-family: fieldwork, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2em;
}

.directory h4 {
  color: #383b69;
  padding-left: 1.5em;
  font-family: fieldwork, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8em;
}

.bottom-div {
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url("./images/background.png");
  background-size: cover;
  padding-bottom: 20em;
  width: 100%;
}

.bottom-div .time-date {
  color: #383b69;
}

.bottom-div .time-date .clock {
  font-family: fieldwork, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
}

.bottom-div .time-date .date {
  font-family: fieldwork-hum, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.bottom-div .time-date .date .month {
  margin-right: 3%;
}

.bottom-div .time-date .date .day-of-month {
  margin-right: 3%;
}

.bottom-div .weather {
  color: #383b69;
  font-size: 1.5em;
  display: flex;
  text-align: center;
}

.bottom-div .weather .weatherdiv .weathericon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.bottom-div .weather .weatherdiv .weathertext {
  margin-top: -1em;
}

.bottom-div .weather .temp {
  font-family: fieldwork, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  padding-left: 20px;
}

.bottom-div .weather .temp span {
  font-family: fieldwork-hum, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.bottom-div .weather .cityname {
  font-family: fieldwork-hum, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  margin-top: -1em;
}

/* Fonts added:
Fieldwork Geo Regular

font-family: fieldwork, sans-serif;
font-weight: 400;
font-style: normal;

Fieldwork Italic Regular

font-family: fieldwork, sans-serif;
font-weight: 400;
font-style: italic;

Fieldwork Geo Bold

font-family: fieldwork, sans-serif;
font-weight: 700;
font-style: normal;

Fieldwork Italic Bold

font-family: fieldwork, sans-serif;
font-weight: 700;
font-style: italic;

Fieldwork Hum Regular

font-family: fieldwork-hum, sans-serif;
font-weight: 400;
font-style: normal;

Fieldwork Hum Bold

font-family: fieldwork-hum, sans-serif;
font-weight: 700;
font-style: normal; */
